<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="mailAdress" value="natashamailtest@yandex.ru" /> 
    <add key="mailPass" value="123123!" />   
	  <add key="host_chrome" value="localhost:14572" />  
  	<add key="host_ff" value="localhost:5557" />  	
  </appSettings>
</configuration>
